.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 413px;
  height: 412px;
  margin: 30px auto 20px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 339px;
  }
}